<html>
    <head>
        <title>Groups</title>
    </head>

    <body>

    <p style="color:red">{{ error }}</p>

    <form action="/groupsAuth" method="POST">
        <input type="text" name="groupName" placeholder="Enter the group name here:" required/>
        <br>
        <input type="radio" name="groupOption" value="create" checked>Create Group
        <br>
        <input type="radio" name="groupOption" value="join">Join Group NOTE: FORMAT TO JOIN IS AS FOLLOWS: <i>&lt;groupName>&lt;groupOwner></i> 
        <br>
        <input type="radio" name="groupOption" value="leave">Leave Group
        <br>
        <input type="radio" name="groupOption" value="delete">Delete Group
        <br>
        <input type="submit" value="submit">
    </form>


    <h1>Groups you are a member of</h1>
    
    <p>
    Groups you are an owner of will appear in <b>bold</b>
    </p>
    
    <p>
        {% if message %}
            {{ message }}
        {% else %}
            {% for member in data %}
                {# 
                    if we're the owner of the group,
                    display the group name in BOLD and showe the add user to group option 
                #}
                {% if member[ "groupOwner" ] == username %}
                    <b>{{ member[ "groupName" ] }}</b>
                    <form action="/groupAddFriend" method="POST">
                        <input type="text" name="friend" placeholder="add someone to {{member['groupName']}}" required/>
                        <input type="hidden" name="groupName" value='{{ member["groupName"] }}'>
                        <input type="submit" value="submit">
                    </form>
                    <br>
                {# 
                    else if we're in the group (but not owner), display group regularly 
                #}
                {% elif member[ "username" ] == username %}
                    {{ member[ "groupName" ] }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
    </p>

    <a href="/home">Go back</a>
    </body>

</html>